gallery-tile {
    flex: 1;
    flex-grow: 0;
    position:relative;

    .overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        height:100%;
        position:absolute;
    
        background-color: transparent;
        color: transparent;
        transition: .8s;

        &:hover {
            background-color: rgba(255, 255, 255, .8);
            color: black;
            transition: .8s;
        }

        div {
            flex: 1;
            display: flex;
            flex-direction: row; 
            align-items: center;
        }
    }

    .image-container {
        position: static;
        &.modal {
            position: fixed;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            width: auto;
            height: auto;
            align-content: center;
            background-color: rgba(0, 0, 0, .8);
            z-index:1000;
        }
    }
}